:root {
  --basic-title-color: #212121;
  --base-text-color: #757575;
  --white-color: #ffffff;
  --blue-color: #2196f3;
  --background-icon: #F5F4FA;
  --color-icon-command: #AFB1B8;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  margin: 0;
  color: var(--basic-title-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  background: var(--white-color);  
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/*Контейнер*/
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; 
}

/*Секция*/
.section {
  padding: 94px 0;
 }

 .section.no-padding {
  padding-top: 0;
 }

/*header*/
.header{
  border-bottom: 1px solid #EEEEEE;
  
}
.container--position,
.nav {
  display: flex;   
}

/* Логотип*/

.logo{ 
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;

  font-family: 'Raleway', sans-serif;
  color: #000000;
  text-decoration: none; 
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo__color{
  color: var(--blue-color);
}

/* Навигация */

.nav__list {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  text-decoration: none;
  list-style: none;  
}
.nav__item:not(:last-child) {
  margin-right: 50px;
}
.nav__link {
  position: relative;
  display: block;  
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--basic-title-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em; 
      

  transition: color 250ms var(--timing-function);
  }
  .nav__link:hover,
  .nav__link:focus {
    color: var(--blue-color);
  }
.nav__link--active {
  color: var(--blue-color);
}

.nav__link--active::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';

  width: 100%;
  border: 2px solid var(--blue-color);
  border-radius: 2px;
  background-color: var(--blue-color);
}


/*Контакты*/

.contact {  
  display: flex;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.contact__item:not(:last-child) {
  margin-right: 50px;
}
.contact__item {
  position: relative;
}
.contact__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  
  color: var(--base-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms var(--timing-function);  
 }

.contact__link::after{
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  
  width: 100%;
  height: 4px;

  background-color: var(--blue-color);

  transform: scaleX(0);
  transition: transform 250ms var(--timing-function), 
  border 250ms var(--timing-function),
  border-radius 250ms var(--timing-function);

}
.contact__link:hover::after{
 transform: scaleX(1);
 border: 2px solid var(--blue-color);
 border-radius: 2px;
}
 
.contact__link:hover,
.contact__link:focus {
  color: var(--blue-color);
}
.contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

/*Герой*/
.hero {  
  padding-top: 200px;
  padding-bottom: 200px;
  align-items: center;
   
  color: var(--white-color);
  background: #2F303A;
  line-height: 1.36;    
  text-align: center;   

  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), 
  rgba(47, 48, 58, 0.4)),
  url('../images/background/hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {  
  max-width: 696px;
  margin-top: 0;
  margin-bottom: 30px;  
  margin-left: auto;
  margin-right: auto;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;  
}

.button{
  min-width: 200px;
  padding: 10px 32px;
  border: 0 solid transparent;
  border-radius: 4px;
  
  font-family: inherit;
  color: var(--white-color);
  background-color: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  letter-spacing: 0.06em; 

  transition: background-color 250ms var(--timing-function);
 
  }

.button:hover,
.button:hover{
  background-color: #188CE8;
}


/* Скрытые заголовки */
.hidden__title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* Проекты*/
.advantage {  
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  
  list-style: none;
}

.advantage__item {
  width: 270px;  
}

.advantage__item:not(:last-child) {
  margin-right: 30px;
}

/* Иконки пректов */
.block-icon {  
  display: flex;
  justify-content: center;
  align-items: center;

  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;

  background-color: var(--background-icon); 
}

.advantage__title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantage__text {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--base-text-color);
  font-size: 14px;
  line-height: 1.71;
}

/* Карточки проектов*/

.section__title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center; 
}

.cards-project {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;  

  list-style: none;  
  }

.cards-project__item:not(:last-child){
  margin-right: 30px;    
}
.cards-project__item {
  position: relative;
}

.cards-project__thumb{  
  position: absolute;  
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  
}

.cards-project__title {  
  position: absolute;
  bottom: 27px;
  left: 83px;
  margin: 0;
 
  color: var(--white-color);
  
  text-transform: uppercase;  
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
/*Команда*/

.section--discolored {  
  background-color: #F5F4FA; 
}

.command {
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  list-style: none;  
}

.command__item:not(:last-child) {
  margin-right: 30px;
}

.command__meta {
  padding: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: var(--white-color);
}

.command__title {
  margin-top: 0;
  margin-bottom: 10px;  
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;  
}

.command__text {
  margin-top: 0;
  margin-bottom: 16px;
  
  color: var(--base-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;  
}
/* Соц сети команды */

.social-network {
  display: flex; 
  justify-content: center; 
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.social-network__item:not(:last-child){
  margin-right: 10px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;  
  border-radius:50%;  

  transition: background-color 250ms var(--timing-function);
 
 }
.social-link__icon {
  fill: var(--color-icon-command);

  transition: fill 250ms var(--timing-function);

}
.social-link:hover,
.social-link:focus {
  background-color: var(--blue-color);
  
}

.social-link:hover .social-link__icon,
.social-link:focus .social-link__icon{
  fill: var(--white-color);
}


/* Клиенты */

.client {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}
.client__item:not(:last-child){
 margin-right: 30px;
}
.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;  
  border: 1px solid var(--color-icon-command);
  border-radius: 4px;

  transition: border 250ms var(--timing-function);
  
}
.client__logo {
  fill: var(--color-icon-command);

  transition: fill 250ms var(--timing-function);
 
}
.client__link:hover,
.client__link:focus{
  border: 1px solid var(--blue-color);
}
.client__link:hover .client__logo ,
.client__link:focus .client__logo {
  fill:var(--blue-color);
  
}

/*Footer*/
.footer {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #2F303A;
}
.footer-container {
  display: inline-flex;
  align-items: baseline;
}
.logo--white {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;  
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  
  color: var(--white-color);
  
}

/*Адрес*/

.address {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;  

  list-style: none;
  font-style: normal;
}

.address__item:not(:last-child){
  margin-bottom: 9px;
}
.address__item {
  position: relative;
}
.address__link {
  color: var(--white-color);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none; 

}
 
.address__link--white {
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms var(--timing-function);  
}
.address__link::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';

  width: 100%;
  height: 4px;

  background-color: var(--white-color);

  transform: scaleX(0);
  transition: transform 250ms var(--timing-function), 
  color 250ms var(--timing-function),
  border 250ms var(--timing-function),
  border-radius 250ms var(--timing-function);

}
.address__link:hover::after {
  transform: scaleX(1);
  border: 2px solid var(--white-color);
  border-radius: 2px;
} 
.address__link:hover,
.address__link:focus{
  color: var(--white-color);
}
/* Присоединяйтесь */

.social-group{  
  margin-left: 70px;
}

.social-group__title {
  display: block;
  margin-bottom: 20px;

  color: var(--white-color);
  text-transform: uppercase;  
}
.social-link--background{
  background-color: rgba(255, 255, 255, 0.1);
}
/* .social-link__list {
  display: flex;
  margin: 0;
  padding-left: 0;

  list-style: none;
} */

/* .social-link__item:not(:last-child) {
  margin-right: 10px;
} */
/* .join-social-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;  
  border-radius:50%;

  background-color: rgba(255, 255, 255, 0.1);
  
  transition: background-color 250ms var(--timing-function);
  
} */
.social-link__icon--fill {  
  fill: var(--white-color);}
  
/* }
.join-social-link:hover,
.join-social-link:focus{
  background-color: var(--blue-color);
} */
/* Подписаться */
.block-form{
  margin-left: 93px;
}
.form-title{
  display: block;
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 1.14;
  color: var(--white-color);
  text-transform: uppercase;
}
.input-subscribe{
  width: 358px;
  height: 50px;
  padding: 15px 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  color: var(--white-color);
  background-color: #2F303A;
 
  font-size: 16px;
  line-height: 1.25;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;

  transition: border 250ms var(--timing-function);

} 
.input-subscribe:focus{
  border: 1px solid var(--white-color);  
}
.btn-form{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  margin-left: 12px;
  padding: 10px 28px;
  
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0 solid transparent;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  
  color: var(--white-color);
  background-color: var(--blue-color);

  cursor: pointer;
  transition: background-color 250ms var(--timing-function);
}
.btn-form:hover,
.btn-form:focus{
  background-color: #188CE8;
}
.svg-subscribe{  
  margin-left: 10px;
  fill:var(--white-color)
}
/* Модальное окно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;  
  transition: opacity 250ms var(--timing-function), 
  visibility 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop.is-hidden .modal{
  transform: translate(-50%, -50%) scale(1.1); 
  
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;  

  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  background-color: var(--white-color);
  
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-function);
}

.button-close { 
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 8px;
  margin-top: 8px;

  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  background-color: var(--white-color);  
  cursor: pointer;  

  transition: fill 250ms var(--timing-function);
  }
  .button-close:hover{
    fill: var(--blue-color);
  }
/* Форма */
.form-heading {
  margin-top: 2px;
  margin-bottom: 12px;

  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  
  color: var(--basic-title-color);
}
.form{  
  width: 448px;
  margin-left: auto;
  margin-right: auto;
  
}

.form-group{
  position: relative;
  
  display: block;
  
  font-size: 14px;
  line-height: 1.17;
  color: var(--base-text-color);
  letter-spacing: 0.01em;
}

.form-group:nth-child(-n+3){
  margin-bottom: 10px;
}
.form-input{
  width: 100%;
  height: 40px;
  margin-top: 4px;
  padding: 11px 12px;  
  padding-left: 42px;  
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  cursor: pointer;

  transition: outline 250ms var(--timing-function),
  border-color 250ms var(--timing-function);
}

.form-icon{
  display: inline-block;
  position: absolute;
  top: 55%;
  left: 12px;
  margin-right: 12px;

  transition: fill 250ms var(--timing-function)
}

.form-input:focus {
  outline: var(--blue-color);
  border-color: var(--blue-color);
}
.form-input:focus + .form-icon{
  fill: var(--blue-color); 
  
}
.form-textarea{
  display: block;
  width: 100%;
  height: 120px;
  margin-top: 4px;
  margin-bottom: 0;  
  padding: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  
  
  cursor: pointer;
  resize:none;

  transition: outline 250ms var(--timing-function),
  border-color 250ms var(--timing-function);
}
.form-textarea:focus-within{
  outline: var(--blue-color);
  border-color: var(--blue-color);
}
.label-checkbox{  
  display: flex;
  align-items: center;
  margin-top: 20px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--base-text-color);

  cursor: pointer;
  
}
.checkbox{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.icon-checkbox{  
  display: inline-block;
  
  margin-right: 8px;  
  border: 2px solid var(--basic-title-color);
  border-radius: 4px;

  transition: background-color 250ms var(--timing-function),
  border-color 250ms var(--timing-function);
  
}
.checkbox:checked ~ .icon-checkbox {
  border-color: transparent;
  background-color: var(--blue-color);
  
}

.form-link {
  color: var(--blue-color); 
  margin-left: 5px;
}
.form-button{
  display: block;
  min-width: 200px; 
  margin: 30px auto;
  margin-bottom: 0;
  padding: 10px 55px;

  color: var(--white-color);
  background-color: var(--blue-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0 solid transparent;

  cursor: pointer;
  letter-spacing: 0.06em;
  
  transition: background-color 250ms var(--timing-function);
}
.form-button:hover{
  background-color: #188CE8;
  
} 
/*Портфолио*/

.link.portfolio {
  position: relative;
  color: var(--blue-color);
}
 

/* .link.portfolio::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  border: 2px solid var(--blue-color);
  border-radius: 2px;
  background-color: var(--blue-color);
} */
/* Кнопки в портфолио*/

.portfolio-button-list{
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 50px;  

  list-style: none; 
}

.portfolio-button-item:not(:last-child){
 margin-right: 8px;
}

.portfolio-button {
  padding: 6px 22px;
  border-radius: 4px;
  border: 0 solid transparent;

  color: var(--basic-title-color);
  background-color: var(--background-icon);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;

  cursor: pointer; 

  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.portfolio-button.one {
  color: var(--white-color);
  background-color: var(--blue-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
  0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);  
  }

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--white-color);
  background-color: var(--blue-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
  0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Проекты портфолио*/

.portfolio-project-list{
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;  

  list-style: none;  
}

.portfolio-project-item{
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-project-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-project-item:nth-last-child(-n+3){
  margin-bottom: 0;
}

.portfolio-containers {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: 0;
}

.portfolio-project-title {
  margin-top: 0;
  margin-bottom: 4px;
}

.portfolio-project-link{
  display: block;
  text-decoration: none;  

  transition: box-shadow 250ms var(--timing-function);
  
}
.portfolio-project-link:hover,
.portfolio-project-link:focus {  
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
  0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-project-link .portfolio-project-title {
  color: var(--basic-title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text-thumb{
  position: relative;
  width: 370px;
  height: 294px;
  
  overflow: hidden;
}

 .portfolio-text-hover{
  position: absolute;
  bottom: 0; 
  left: 0; 
  
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;
  color: var(--white-color);

  opacity: 0;
  visibility: hidden;
  transform: translatey(100%);
  transition: transform 250ms var(--timing-function), 
  background-color 250ms var(--timing-function),
  opacity 250ms var(--timing-function),
  visibility 250ms var(--timing-function);
 }
.portfolio-project-link:hover .portfolio-text-hover {
  transform: translatey(0);
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 1;
  visibility: visible;
}

.portfolio-project-text {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--base-text-color);
  font-size: 16px;
  line-height: 1.88;
}
